<div class="swiper ecomm-hero-slider">
    <div class="swiper-wrapper ecomm-hero-slide-wrapper">
        {% assign iterator = 1 %}
        {% for block in section.blocks %}
        {% case block.type %}
        {% when 'ecomm-slide' %}
        <div class="swiper-slide ecomm-hero-slide{{iterator}}" {{ block.shopify_attributes }}>
            <h2>{{ block.settings.ecomm-hero-slide-title }}</h2>
            {% assign timer-month = block.settings.ecomm-timer-month %}
            {% assign timer-day = block.settings.ecomm-timer-day %}
            {% assign timer-year = block.settings.ecomm-timer-year %}
            {% assign timer-hour = block.settings.ecomm-timer-hour %}
            {% assign timer-minute = block.settings.ecomm-timer-minute %}
            {% assign timer-seconds = block.settings.ecomm-timer-seconds %}
            {% assign timer-now = "now" | date: "%Y-%m-%d %H:%M" %}
            <p id="ecomm-timer-value">{{ block.settings.ecomm-timer-month}} {{ block.settings.ecomm-timer-day}}, {{
                block.settings.ecomm-timer-year}} {{ block.settings.ecomm-timer-hour}}:{{
                block.settings.ecomm-timer-minute}}:{{ block.settings.ecomm-timer-seconds}}</p>
            {{ block.settings.ecomm-hero-slide-image | image_url: height: 654 | image_tag }}
        </div>
        <script>

            let countDownDate = new Date(document.getElementById("ecomm-timer-value").innerHTML).getTime();

            console.log(countDownDate);
            let x = setInterval(function () {

                let now = new Date().getTime();
                console.log(now);

                let distance = countDownDate - now;
                console.log(distance);

                let days = Math.floor(distance / (1000 * 60 * 60 * 24));
                let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((distance % (1000 * 60)) / 1000);
                console.log(days + "d " + hours + "h " + minutes + "m " + seconds + "s ");
                console.log(document.getElementById("ecomm-timer-output").innerHTML)
                document.getElementById("ecomm-timer-output").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("ecomm-timer-output").innerHTML = "EXPIRED";
                }
            }, 1000);
        </script>
        {%- style -%}
        .ecomm-hero-slide{{iterator}}>img{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        }
        .ecomm-hero-slide{{iterator}}>h2{
        position: relative;
        z-index: 11;
        font-size: 64px;
        font-weight: 700;
        width:570px;
        {% case block.settings.title-color %}
        {% when "white" %}
        color: white;
        {% when "black" %}
        color: black;
        {% endcase %}
        {% case block.settings.title-position %}
        {% when "left-bot" %}
        padding-left:100px;
        grid-column: 1 / 2;
        grid-row: 3/ 4;
        {% when "left-mid" %}
        padding-left:100px;
        grid-column: 1 / 2;
        grid-row: 2/ 3;
        {% when "center-bot" %}
        grid-column: 2 / 3;
        grid-row: 3/ 4;
        {% when "center-mid" %}
        grid-column: 2 / 3;
        grid-row: 2/ 3;
        {% when "right-bot" %}
        padding-right:100px;
        grid-column: 3 / 4;
        grid-row: 3/ 4;
        {% when "right-mid" %}
        padding-right:100px;
        grid-column: 3/ 4;
        grid-row: 2/ 3;
        {% endcase %}
        }
        .ecomm-hero-slide{{iterator}}{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        }
        {%- endstyle -%}
        {% assign iterator = iterator | plus: 1 %}
        {% endcase %}
        {% endfor %}
    </div>
</div>
<div class="ecomm-hero-slider-wrap-mobile">
    <div class="swiper ecomm-hero-slider-mobile">
        <div class="swiper-wrapper ecomm-hero-slide-wrapper-mobile">
            {% assign iterator2 = 1 %}
            {% for block in section.blocks %}
            {% case block.type %}
            {% when 'ecomm-slide' %}
            <div class="swiper-slide ecomm-hero-slide{{iterator2}}-mobile" {{ block.shopify_attributes }}>
                <h2>{{ block.settings.ecomm-hero-slide-title }}</h2>
                {{ block.settings.ecomm-hero-slide-mobile-image | image_url: height: 206 | image_tag }}
            </div>
            {%- style -%}
            .ecomm-hero-slide{{iterator2}}-mobile>img{
            position: relative;
            grid-column: 1 / 4;
            grid-row: 1 / 4;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 10;
            }
            .ecomm-hero-slide{{iterator2}}-mobile>h2{
            position: relative;
            z-index: 11;
            font-size: 44px;
            font-weight: 700;
            width:390px;
            {% case block.settings.title-color %}
            {% when "white" %}
            color: white;
            {% when "black" %}
            color: black;
            {% endcase %}
            {% case block.settings.title-position %}
            {% when "left-bot" %}
            padding-left:20px;
            grid-column: 1 / 2;
            grid-row: 3/ 4;
            {% when "left-mid" %}
            padding-left:20px;
            grid-column: 1 / 2;
            grid-row: 2/ 3;
            {% when "center-bot" %}
            grid-column: 2 / 3;
            grid-row: 3/ 4;
            {% when "center-mid" %}
            grid-column: 2 / 3;
            grid-row: 2/ 3;
            {% when "right-bot" %}
            padding-right:20px;
            grid-column: 3 / 4;
            grid-row: 3/ 4;
            {% when "right-mid" %}
            padding-right:20px;
            grid-column: 3/ 4;
            grid-row: 2/ 3;
            {% endcase %}
            }
            .ecomm-hero-slide{{iterator2}}-mobile{
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(3, auto);
            width: 100%;
            height: auto;
            border-radius: {{block.settings.ecomm-banner-border-radius}}px;
            overflow: hidden;
            }

            .swiper-pagination-bullet{
            background: #EBF0FF;
            opacity: 1;
            }

            .swiper-pagination-bullet-active{
            background: {{settings.main_color_1}};
            }

            @media screen and (max-width: 565px) {
            .ecomm-hero-slide{{iterator2}}-mobile>h2{
            font-size: 24px;
            width:220px;
            }
            {%- endstyle -%}
            {% assign iterator2 = iterator2 | plus: 1 %}
            {% endcase %}
            {% endfor %}
        </div>
        <div class="swiper-pagination ecomm-hero-slider-pagination"></div>
    </div>
</div>
<p id="ecomm-timer-output">{{timer-now}}</p>
<script>
    const ecommHeroSlider = new Swiper('.ecomm-hero-slider', {
        direction: 'horizontal',
        loop: true,
        speed: 3000,
        autoplay: {
            delay: 5000,
        }
    });
    const ecommHeroSliderMobile = new Swiper('.ecomm-hero-slider-mobile', {
        direction: 'horizontal',
        loop: true,
        speed: 1000,
        spaceBetween: 20,
        autoplay: {
            delay: 5000,
        },
        pagination: {
            el: '.ecomm-hero-slider-pagination',
            clickable: true
        }
    });

</script>
<style>
    .ecomm-hero-slider {
        max-width: 1500px;
        margin: 0 auto;
        overflow-y: visible;
        overflow-x: hidden;
    }

    .ecomm-hero-slide-wrapper {
        height: 654px;
    }

    .ecomm-hero-slider-pagination {
        position: relative;
        bottom: initial !important;
    }

    .ecomm-hero-slider-mobile {
        display: none;
    }

    .ecomm-hero-slider-mobile {
        max-width: 990px;
        margin: 0 auto;
        overflow-y: visible;
        overflow-x: hidden;
    }

    .ecomm-hero-slider-wrap-mobile {
        padding: 15px;
    }

    @media screen and (max-width: 990px) {
        .ecomm-hero-slider {
            display: none;
        }

        .ecomm-hero-slider-mobile {
            display: block;
        }
    }
</style>
{%- style -%}

{%- endstyle -%}
{% schema %}
{
"name": "Hero banner slider",
"settings": [

],
"presets": [
{
"name": "E-comm hero slider"
}
],
"blocks": [
{
"name": "E-comm banner slide",
"type": "ecomm-slide",
"limit": 10,
"settings": [
{
"type": "header",
"content": "E-comm edit banner"
},
{
"type": "textarea",
"id": "ecomm-hero-slide-title",
"label": "Edit slide title",
"default": "Super Flash Sale 50% Off"
},
{
"type": "image_picker",
"id": "ecomm-hero-slide-image",
"label": "Edit slide image"
},
{
"type": "image_picker",
"id": "ecomm-hero-slide-mobile-image",
"label": "Edit slide mobile image"
},
{
"type": "select",
"id": "title-color",
"label": "Title color",
"options": [
{
"value": "white",
"label": "White"
},
{
"value": "black",
"label": "Black"
}
],
"default": "white"
},
{
"type": "select",
"id": "title-position",
"label": "Title position",
"options": [
{
"value": "left-bot",
"label": "Left bottom"
},
{
"value": "left-mid",
"label": "Left middle"
},
{
"value": "center-bot",
"label": "Centered bottom"
},
{
"value": "center-mid",
"label": "Centered middle"
},
{
"value": "right-bot",
"label": "Right bottom"
},
{
"value": "right-mid",
"label": "Right middle"
}
],
"default": "left-mid"
},
{
"type": "range",
"id": "ecomm-banner-border-radius",
"min": 0,
"max": 50,
"step": 1,
"unit": "px",
"label": "Banner border radius",
"default": 0
},
{
"type": "header",
"content": "Timer settings"
},
{
"type": "textarea",
"id": "ecomm-timer",
"label": "timer",
"default": "Jul 25, 2023 16:37:52"
},
{
"type": "select",
"id": "ecomm-timer-month",
"label": "Select a month",
"options": [
{
"value": "Jan",
"label": "January"
},
{
"value": "Feb",
"label": "February"
},
{
"value": "Mar",
"label": "March"
},
{
"value": "Apr",
"label": "April"
},
{
"value": "May",
"label": "May"
},
{
"value": "Jun",
"label": "June"
},
{
"value": "Jul",
"label": "July"
},
{
"value": "Aug",
"label": "August"
},
{
"value": "Sep",
"label": "September"
},
{
"value": "Oct",
"label": "October"
},
{
"value": "Nov",
"label": "November"
},
{
"value": "Dec",
"label": "December"
}
],
"default": "Dec"
},
{
"type": "text",
"id": "ecomm-timer-day",
"label": "Day",
"default": "1"
},
{
"type": "text",
"id": "ecomm-timer-year",
"label": "Year",
"default": "2022"
},
{
"type": "range",
"id": "ecomm-timer-hour",
"min": 0,
"max": 23,
"step": 1,
"label": "Hour",
"default": 0
},
{
"type": "range",
"id": "ecomm-timer-minute",
"min": 0,
"max": 60,
"step": 1,
"label": "Minutes",
"default": 0
},
{
"type": "range",
"id": "ecomm-timer-seconds",
"min": 0,
"max": 60,
"step": 1,
"label": "Seconds",
"default": 0
}
]
}
]
}
{% endschema %}