<header class="header-ecomm-wrap">
  <div class="header-ecomm">
    <a href="/" class="ecomm-logo-wrap">
      {% render 'ecomm-logo' %}
    </a>
    <nav id="ecomm-header-menu">
      <ul id="ecomm-menu">
        {% for link in linklists.main-menu.links %}
        {%- if link.active -%}
        <li class="ecomm-menu-item active">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {%- else -%}
        <li class="ecomm-menu-item">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {%- endif -%}

        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="header-ecomm-mob">
    <nav>
      <div class="{%- if template contains "index" -%} header-mob-item-wrap active{%- else -%}header-mob-item-wrap{%- endif
        -%}">
        <a href="/" class="header-ecomm-mob-item">
          {% include "icon-mob-home"%}
          <p>
            Home
          </p>
        </a>
      </div>
      <div class="{%- if canonical_url == " https://e-comm-training.myshopify.com/#" -%} header-mob-item-wrap active{%-
        else -%}header-mob-item-wrap{%- endif -%}">
        <a href="#" class="header-ecomm-mob-item">
          {% include "icon-mob-explore"%}
          <p>
            Explore
          </p>
        </a>
      </div>
      <div class="{%- if template contains "cart" -%}header-mob-item-wrap active{%- else -%}header-mob-item-wrap{%- endif
        -%}">
        <a href="{{routes.cart_url}}" class="header-ecomm-mob-item mob-cart">
          {% include "icon-mob-cart"%}
          <p>
            Cart
          </p>
          <div class="cart_items_number">
            {{ cart.item_count }}
          </div>
        </a>
      </div>
      <div class="{%- if canonical_url == " https://e-comm-training.myshopify.com/#" -%} header-mob-item-wrap active{%-
        else -%}header-mob-item-wrap{%- endif -%}">
        <a href="#" class="header-ecomm-mob-item">
          {% include "icon-mob-offer"%}
          <p>
            Offer
          </p>
        </a>
      </div>
      <div class="{%- if template contains "customers" -%} header-mob-item-wrap active {%- else
        -%}header-mob-item-wrap{%- endif -%}">
        <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{%- endif -%}"
          class="header-ecomm-mob-item">
          {% include "icon-mob-account"%}
          <p>
            Account
          </p>
        </a>
      </div>
    </nav>
  </div>
</header>

<style>
  .header-ecomm {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 26px 5%;
  }

  .ecomm-logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #ecomm-menu {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .ecomm-menu-item {
    margin: 0 50px;
  }

  .ecomm-menu-item:first-of-type {
    margin: 0 50px 0 0;
  }

  .ecomm-menu-item:last-of-type {
    margin: 0 0 0 50px;
  }

  .ecomm-menu-item>a {
    text-decoration: none;
    color: initial;
    font-weight: 500;
    font-size: 24px;
    transition: color 0.3s;
  }

  .ecomm-menu-item>a:visited {
    color: initial;
  }

  .header-ecomm-mob {
    display: none;
  }

  @media screen and (max-width: 1400px) {
    .ecomm-menu-item {
      margin: 0 25px;
    }

    .ecomm-menu-item:first-of-type {
      margin: 0 25px 0 0;
    }

    .ecomm-menu-item:last-of-type {
      margin: 0 0 0 25px;
    }

    .ecomm-menu-item>a {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 990px) {
    .header-ecomm {
      display: none;
    }

    .header-ecomm-mob {
      display: initial;
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: white;
      z-index: 10;
      padding-bottom: 35px;
      border-top: 1px solid #EBF0FF;

    }

    .header-ecomm-mob>nav {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      width: 100%;
    }

    .header-mob-item-wrap {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
    }

    .header-ecomm-mob-item {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 15px 0 0 0;
    }

    .header-ecomm-mob-item>p {
      color: rgba(144, 152, 177, 1);
      margin-top: 5px;
    }

    .mob-cart {
      position: relative;
    }

    .cart_items_number {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 3px;
      left: 50%;
      font-size: 10px;
      height: 26px;
      width: 26px;
      border: 3px solid white;
      color: white;
      font-weight: 700;
      border-radius: 50%;
      background-color: #FB7181;
    }
  }

  @media screen and (max-width: 750px) {
    .header-ecomm-mob-item>p {
      font-size: 10px;
    }
  }
</style>

{%- style -%}
.ecomm-menu-item>a:hover{
color: {{settings.main_color_1}};
}
.active>a{
color: {{settings.main_color_1}};
}

.active>a:visited {
color: {{settings.main_color_1}};
}

@media screen and (max-width: 990px) {
.active>a>p{
color: {{settings.main_color_1}};
}

.active>a>p:visited {
color: {{settings.main_color_1}};
}
.active>a>svg{
color: {{settings.main_color_1}};
}

.active>a>p:visited {
color: {{settings.main_color_1}};
}
}
.mob-icon>path {
  stroke: #9098B1;
}
.mob-icon>.cart-wheel, .mob-icon>.account-icon-mob{
  fill: #9098B1;
}
.active .mob-icon>path{
  stroke: {{settings.main_color_1}};
}
.active .mob-icon>.cart-wheel,.active .mob-icon>.account-icon-mob{
  fill: {{settings.main_color_1}};
}


{%- endstyle -%}

{% schema %}
{
"name": "Header ecomm",
"settings": [
{
"type": "link_list",
"id": "menu",
"default": "main-menu",
"label": "t:sections.header.settings.menu.label"
}
]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}